
@import 'https://fonts.googleapis.com/css?family=Archivo+Narrow:400,400i,700,700i|Indie+Flower|Roboto+Slab:100,300,400,700';

body
{
	font-family:"Roboto Slab", sans-serif;
	font-weight:300;
	font-size:20px;
	position:relative;
}
/**carousel**/
.carousel
{
	margin-top:-20px;
	padding-top:100px;
}
.imgcarousel
{
	width:1400px;
	height:1000px;
}
.carousel-caption
{
	margin-bottom:170px;
}

/**header**/
header .navbar
{
	padding:0;
	transition:all .5s ease-out;
}
header .navbar-default
{
	background-image:url("carousel/header-background .jpg");
	background-size:cover;
}

header .nav
{
	padding-top:40px;
	padding-bottom:35px;
}
a,
a:hover,
a:focus,
a:active,
a.active
 {
  outline: none;
}

header nav ul li a
{
	color:red;
}

header nav ul li a:hover{color:#eefc;}

header nav .nav .active a{
	font-weight:700px;
	color:red;
	background:transparent;
	border:0;
	border-bottom:5px solid red;
	}

.logo
{
	width:200px;
	height:100px;
	border-radius:25px;
}

header  .navbar .navbar-toggle
{
<<<<<<< HEAD
	background-color:orange;
=======
	background-color:#123432;
>>>>>>> e8c216569f79606fdf251a86bbd7007b4bc7da05
	
}
header .navbar .navbar-toggle .icon-bar
{
	background-color:white;
}
header  .collapse .nav-pills  li
 {
	 float:left;
	 display: block;
	 
 }

header .carousel-caption a:hover
{
	text-decoration:none;
}

h1
{
	text-align: center;
	color: silver;
	font-family: Lobster;
	font-size:70px;
}

h4
{
	text-align: center;
	color: silver;
	font-family: Lobster;
}

h2, h3
{
	font-family:"Roboto Slab", sans-serif;
	font-weight:400;
}

/**----------header with inbody class when scrollspy event occurs--------**/
header .inbody
{
	background:rgba(0,0,0,0.7);
		
}
header .navbar.inbody
{
	padding-top:0px ;
	padding-bottom:0px;
	
}

header .navbar.inbody .nav-pills
{
	padding-top:10px;
	padding-bottom:15px;
	
}
header .navbar.inbody .nav-pills li a
{
	color:white;
	font-size:1em;
	font-weight:300;
}

header .navbar.inbody .nav .active a
{
	font-weight:400;
	color:orange;
	background:transparent;
	border:0;
	border-bottom:5px solid orange;
}

header .navbar.inbody .nav  a #homehref
{
	background:transparent;
	border:0;
}

header .navbar.inbody img.logo
{
	width:130px;
	height:63px;
	border-radius:25px;
	padding-top:0px;
	padding-bottom:5px;
}


/**page-----**/
.page
{
	padding-top:60px;
	padding-bottom:30px;
}
.page h2
{
	text-align:center;
	margin-bottom:30px;
}

/**page--About us-----**/
#about
{
	background-color:#e4d29d;
	background-image:linear-gradient(to bottom, #e4d29d, lightyellow);
	border-top:20px solid #bbc345;
}
/**page--services-----**/
#services
{
	background-color:#e4d29d;
	background-image:linear-gradient(to bottom, #e4d29d, lightyellow);
	border-top:20px solid #bbc345;
}

.service
{
	text-align:center;
	margin:20px 0;
}
.products
{
	border-radius:50%;
	width:180px;
	height:130px;
	display:block;
	margin:0 auto;
	margin-bottom:5px;
}

.service h3
{
	margin-bottom:10px;
}

@media only screen 
and(min-width:450px) and (max-width:768px)
{
	.service p
	{
		padding:0 20%;
	}
}


@media only screen 
and(min-width: 769px)  and (max-width: 928px)
{
	img.logo 
	{
		width:100px;
		height:70px;
		border-radius:20px;
		padding-top:0px;
		padding-bottom:5px;
		margin-top:-20px;
	}
}

@media only screen and (max-width: 1028px){
	.carousel-inner  .carousel-caption  
	{
		margin-bottom:100px;
	}
	.carousel-caption  a  h1
	{
		font-size:2em;
	}
	.carousel-caption  a  h4
	{
		font-size:1em;
	}
	
	
}

@media only screen and (max-width: 928px){
	.carousel-inner  .carousel-caption  
	{
		margin-bottom:50px;
	}
	.carousel-caption  a  h1
	{
		font-size:1.5em;
	}
	.carousel-caption  a  h4
	{
		font-size:.8em;
	}
	img.logo 
	{
		width:160px;
		height:80px;
		border-radius:20px;
		padding-top:0px;
		padding-bottom:5px;
		margin-top:0px;
	}
	header .nav
	{
		padding-top:20px;
		padding-bottom:20px;
	}
	
}

@media only screen and (max-width: 478px){
	.carousel-inner  .carousel-caption  
	{
		margin-bottom:20px;
	}
	.carousel-caption  a  h1
	{
		font-size:1.3em;
	}
	.carousel-caption  a  h4
	{
		font-size:.6em;
	}
	
	
}

@media only screen and (max-width: 412px){
	.carousel-inner  .carousel-caption  
	{
		margin-bottom:0px;
	}
	.carousel-caption  a  h1
	{
		font-size:1em;
	}
	.carousel-caption   h4
	{
		font-size:.5em;
	}
	
	
}
@media only screen and (max-width: 390px){
	.carousel-inner  .carousel-caption  
	{
		margin-bottom:-10px;
	}
	.carousel-caption  a  h1
	{
		font-size:1.3em;
	}
	.carousel-caption   h4
	{
		display:none;
	}
	
	
}
@media only screen and (max-width:887px) and (min-width:819px)
{
	img.logo 
	{
		width:140px;
		height:65px;
		border-radius:20px;
		padding-top:0px;
		padding-bottom:5px;
		margin-top:0px;
	}
	header .nav
	{
		padding-top:10px;
		padding-bottom:15px;
	}
	header ul li
	{
		font-size:.9em;
	}
}
@media only screen and (max-width:818px) and (min-width:768px)
{
	img.logo 
	{
		width:130px;
		height:60px;
		border-radius:20px;
		padding-top:0px;
		padding-bottom:0px;
		margin-top:0px;
	}
	header .nav
	{
		padding-top:10px;
		padding-bottom:15px;
	}
	header ul li
	{
		font-size:.8em;
	}
}

@media only screen and (max-width: 768px) {
	
	header .nav
	{
		padding-top:0px;
		padding-bottom:5px;
	}
	
	img.logo 
	{
		width:120px;
		height:50px;
		border-radius:20px;
		padding-top:0px;
		padding-bottom:5px;
		margin-top:-10px;
	}
	
	header .nav-pills  li  
	{
		
		display:block;
		position:relative;
		
	}
	header .navbar.inbody img.logo
	{
		width:120px;
		height:50px;
		border-radius:20px;
		padding-top:0px;
		padding-bottom:5px;
		margin-top:-10px;
	}
	header .navbar.inbody .nav-pills
	{
		padding-top:0px;
		padding-bottom:5px;
		
	}
	header .navbar.inbody .nav-pills li 
	{
	display:block;
	position:relative;
	}
	header .navbar.inbody .nav-pills li a
	{
	color:white;
	font-size:1em;
	font-weight:300;
	display:block;
	}
}

/**page--staff-----**/

#staff
{
	/**background-color:#e4d29d;
	background-image:linear-gradient(to bottom, #e4d29d, lightyellow);**/
	border-top:20px solid #bbc345;
} 
.teammembers
{
	width:200px;
	height:190px;
	border-radius:50%;
	display:block;
	margin:0 auto;
	margin-bottom:5px;
	margin-top:10px;
}
#staff h4
{
	text-align:center;
}


/**page--testimonials-----**/
#testimonials
{
	background-color:#e4d29d;
	background-image:linear-gradient(to bottom, #e4d29d, lightyellow);
	border-top:20px solid #bbc345;
}
#testimonials blockquote
{
	
	border-left:none;
	position:relative;
	min-height:200px;
	margin:0;
	padding:0;
	
}
#testimonials .quote
{
	background-color:rgba(255,255,255,0.9);
	padding:20px 5%;
	position:absolute;
	width:70%;
	border-radius:0 50px; 
	bottom:0;
	font-weight:700;
	line-height:110%;
	font-size:1.3em;
	
}
/**#Arun
{
	background-image:url(services/snack1.jpg);
	background-size:cover;
}
#Vinitha
{
	background-image:url(services/snack4.jpg);
	background-size:cover;
}
#Vineetha
{
	background-image:url(services/meatmasala.jpg);
	background-size:cover;
}
#Merin
{
	background-image:url(services/garammasala.jpg);
	background-size:cover;
}**/

div .quote
{
	font-family:'Indie Flower', cursive;
	font-size:1.2em;
}

#testimonials .quote:hover{
	background-color:rgba(220,190,230,0.9);
}
#testimonials .quote .more, #testimonials .quote .customer
{
	opacity:0;
	font-size:0;
	padding-top:10px;
	line-height:0;
}

#testimonials .quote:hover .more
{
	font-weight:500;
	display:block;
	opacity:1;
	font-size:1em;
	line-height:120%;
	margin-top:3px;
}

#testimonials .quote:hover .customer
{
	display:block;
	font-size:0.8em;
	text-align:right;
	opacity:1;
}
#testimonials .quote .intro:after
{
	content:".....";
}
#testimonials .quote:hover .intro:after
{
	content:" ";
}
/**page--contact us-----**/
#contact{
	background-color:#e4d29d;
	background-image:linear-gradient(to bottom, #e4d29d, lightyellow);
	border-top:20px solid #bbc345;
	
}
form
{
	border:2px solid grey;
	border-radius:10px;
	margin-top:10px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:50px;
	padding:10px;
}
/**footer**/
footer{
	font-size:0.8em;
	padding:20px 0 20px 0;
	border-top:10px solid #bbc345;
	background-color:#eddef2;
}

footer a{
	color:#eaade2;
}
footer a:hover{
	color:lightyellow;
}

footer .fa:hover{
	color:blue;
}
footer .phone
{
	font-size:1.3em;
	font-weight:700;
}
footer .navbar-default
{
	background:transparent;
	border:none;
	border-radius:0px;
}

